<div class="footer-style">
    <p on
        class="title">artbox</p>
    <table class="table-style">
        <td class="adres">
            <tr class="heading">
                Adres
            </tr>
            <tr class="text">
                ul. Sempołowskiej 5 
                51-660 Wrocław
            </tr>
            <tr>
                Pokaż na mapie icon
            </tr>
            <tr>
                coprytight 2024 artbox
            </tr>
           
        </td>
        <td style="padding-right: 10rem;">
            <tr class="heading">
                Napisz do nas:
            </tr>
            <tr class="bold">
                biuro@artbox.com.pl
            </tr>
            <tr style="
            padding-top: 2rem;
             background-color: aqua;
             
             " >
                Lub zadzwoń:
            </tr>
            <tr class="bold">
                +48 604 912 792
            </tr>
            <tr class="bold">
                (0 71) 345 22 22
            </tr>
        </td>
        <td>
            <tr class="heading">
                Współprace
            </tr>
            <tr>
                "Galeria M"
            </tr>
            <tr>
                Stare Jatki 10
            </tr>
            <tr>
                Wrocław 50-111
            </tr>
            <tr>
                tel. (0 71) 341 72 82
            </tr>
            <tr>
                www.galeriam.com
            </tr>
        </td>
        <td>
            <tr>
                "Galeria M Odwach"
            </tr>
            <tr>
                Świdnicka 38A
            </tr>
            <tr>
                Wrocław 50-068
            </tr>
            <tr>
                tel. (0 71) 372 44 96
            </tr>
            <tr>
                www.galeria.com
            </tr>
        </td>
        <td>
            <tr>
                "Galeria Opus"
            </tr>
            <tr>
                Kościuszki 16
            </tr>
            <tr>
                Wrocław 50-027
            </tr>
            <tr>
                tel. (0 71) 344 76 61
            </tr>
        </td>
    </table>
</div>