<div *ngIf="currentLayout$ | async as currentLayout" class="footer-style" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <p on class="title" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }">artbox</p>
    <table class="table-style" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
    'layout-medium': currentLayout == 'Medium',
    'layout-landscape': currentLayout == 'HandsetLandscape'
    }">
        <td>
            <ul class="list-kontakt" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
            }">
                <div class="heading">
                    Adres
                </div>
                <p class="adres">
                    ul. Sempołowskiej 5 <br>
                    51-660 Wrocław
                </p>
                <div style="cursor: pointer;" (click)="handleShowMap()">
                    <span>
                        Pokaż na mapie
                    </span>
                    <img src="./assets/imgs/open_maps.png" alt="maps icon" style="width: 1.1rem; float: right;">
                    <p style="padding-top: 0.5rem;">
                        &copy; 2024 artbox
                    </p>
                </div>
            </ul>
        </td>
        <td class="napisz-do-nas-style" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
                }">
            <ul class="list-kontakt" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
            }">
                <p class="heading">
                    Napisz do nas:
                </p>
                <p class="bold" style="cursor: pointer; " [cdkCopyToClipboard]="email" (click)="handleClick()"
                    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
                }">
                    biuro@artbox.com.pl
                </p>
                <p style="
                 margin-bottom: 0.4rem;
                 ">
                    Lub zadzwoń:
                </p>
                <p class="bold" style="margin-bottom: 0.4rem; cursor: pointer;" [cdkCopyToClipboard]="mobileNumber"
                    (click)="handleClick()">
                    +48 604 912 792
                </p>
                <p class="bold" style="cursor: pointer;" [cdkCopyToClipboard]="phoneNumber" (click)="handleClick()">
                    (0 71) 345 22 22
                </p>
            </ul>
        </td>
        <td [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }" class="list-wspolprace-desktop">
            <ul class="list-wspolprace">
                <div class="heading" style="margin-bottom: 1rem;">
                    Współprace
                </div>
                <p>
                    "Galeria M"
                </p>
                <p>
                    Stare Jatki 10
                </p>
                <p>
                    Wrocław 50-111
                </p>
                <p>
                    tel. (0 71) 341 72 82
                </p>
                <p>
                    www.galeriam.com
                </p>
            </ul>
        </td>
        <td [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }" class="list-wspolprace-desktop">
            <ul class="list-wspolprace">
                <tr> </tr>
                <p style="padding-top: 1rem;">
                    "Galeria M Odwach"
                </p>
                <p>
                    Świdnicka 38A
                </p>
                <p>
                    Wrocław 50-068
                </p>
                <p>
                    tel. (0 71) 372 44 96
                </p>
                <p>
                    www.galeria.com
                </p>
            </ul>
        </td>
        <td [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }" class="list-wspolprace-desktop">
            <ul class="list-wspolprace">
                <tr> </tr>
                <p style="padding-top: 1rem;">
                    "Galeria Opus"
                </p>
                <p>
                    Kościuszki 16
                </p>
                <p>
                    Wrocław 50-027
                </p>
                <p>
                    tel. (0 71) 344 76 61
                </p>
            </ul>
        </td>
        <tr class="list-wspolprace-mobile" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }">
            <td>
                <ul class="list-wspolprace">
                    <div class="heading" style="margin-bottom: 1rem;">
                        Współprace
                    </div>
                    <p>
                        "Galeria M"
                    </p>
                    <p>
                        Stare Jatki 10
                    </p>
                    <p>
                        Wrocław 50-111
                    </p>
                    <p>
                        tel. (0 71) 341 72 82
                    </p>
                    <p>
                        www.galeriam.com
                    </p>
                </ul>
            </td>
            <td>
                <ul class="list-wspolprace">
                    <p style="padding-top: 1rem;">
                        "Galeria M Odwach"
                    </p>
                    <p>
                        Świdnicka 38A
                    </p>
                    <p>
                        Wrocław 50-068
                    </p>
                    <p>
                        tel. (0 71) 372 44 96
                    </p>
                    <p>
                        www.galeria.com
                    </p>
                </ul>
            </td>
        </tr>
        <tr class="list-wspolprace-mobile" [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
        }">
            <ul class="list-wspolprace">
                <p style="padding-top: 1rem;">
                    "Galeria Opus"
                </p>
                <p>
                    Kościuszki 16
                </p>
                <p>
                    Wrocław 50-027
                </p>
                <p>
                    tel. (0 71) 344 76 61
                </p>
            </ul>
        </tr>
    </table>
</div>