.title {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    cursor: pointer;
    margin: 1.5rem 0rem 0rem 14rem;
}

.title.layout-medium {
    margin: 1.5rem 0rem 0rem 6rem;

}

.title.layout-landscape {
    margin: 1.5rem 0rem 0rem 2rem;
}

.title.layout-portrait {
    margin: 1.5rem 0rem 0rem 2rem;
}

.table-style {
    margin: 1rem 0rem 0rem 11.3rem;
    height: fit-content;
}

.table-style.layout-medium {
    margin: 1rem 0rem 0rem 6rem;
    height: fit-content;
}

.table-style.layout-landscape {
    margin: 0rem 0rem 0rem -0.6rem;
    height: fit-content;
}

.table-style.layout-portrait {
    margin: 0rem 0rem 0rem -0.8em;
    height: fit-content;
}


.footer-style {
    background-color: #FCFBFB;
    padding-top: 1rem;
    height: fit-content;
}

.footer-style.layout-medium {
    height: fit-content;
}

.footer-style.layout-landscape {
    height: fit-content;
}

.footer-style.layout-portrait {
    height: fit-content;
}

.heading {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 0rem;
}

.text {
    font-family: "Poppins";
    font-weight: 400;
    size: 18px;
}

.bold {
    font-family: "Poppins";
    font-weight: 500;
    size: 18px;
}

.bold.layout-portrait {
    font-size: 12px;
}

.adres {
    padding-top: 1rem;
}


.list-wspolprace p {
    margin: 0;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
}

.list-wspolprace-desktop.layout-landscape {
    display: none;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    background-color: aqua;
}

.list-wspolprace-desktop.layout-portrait {
    display: none;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    background-color: aqua;
}

.list-kontakt {
    font-size: 16px;
    width: 9rem;
}

.list-kontakt.layout-medium {}

.list-kontakt.layout-landscape {
    width: 9rem;
}

.list-kontakt.layout-portrait {
    width: 60%;
}

.napisz-do-nas-style {
    padding-right: 10rem;
}

.napisz-do-nas-style.layout-portrait {
    padding-right: 2rem;
}

.list-wspolprace-mobile {
    display: none;
}

.list-wspolprace-mobile.layout-portrait {
    display: table-row;
}

.list-wspolprace-mobile.layout-landscape {
    display: table-row;
}