<div class="footer-style">
    <p on class="title">artbox</p>
    <table class="table-style">
        <td>
            <tr>
                Adres
            </tr>
            <tr>
                ul. Sempołowskiej 5
                51-660 Wrocław
            </tr>
            <tr>
                Pokaż na mapie icon
            </tr>
            <tr>
                coprytight 2024 artbox
            </tr>
        </td>
        <td>
            <tr>
                Napisz do nas:
            </tr>
            <tr>
                biuro@artbox.com.pl
            </tr>
            <tr>
                Lub zadzwoń:
            </tr>
            <tr>
                +48 604 912 792
            </tr>
            <tr>
                (0 71) 345 22 22
            </tr>
        </td>
        <td>
            <tr>
                Współprace
            </tr>
            <tr>
                "Galeria M"
            </tr>
            <tr>
                Stare Jatki 10
            </tr>
            <tr>
                Wrocław 50-111
            </tr>
            <tr>
                tel. (0 71) 341 72 82
            </tr>
            <tr>
                www.galeriam.com
            </tr>
        </td>
        <td>
            <tr>
                "Galeria M Odwach"
            </tr>
            <tr>
                Świdnicka 38A
            </tr>
            <tr>
                Wrocław 50-068
            </tr>
            <tr>
                tel. (0 71) 372 44 96
            </tr>
            <tr>
                www.galeria.com
            </tr>
        </td>
        <td>
            <tr>
                "Galeria Opus"
            </tr>
            <tr>
                Kościuszki 16
            </tr>
            <tr>
                Wrocław 50-027
            </tr>
            <tr>
                tel. (0 71) 344 76 61
            </tr>
        </td>
    </table>
</div>