.title {
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.footer-style {
    background-color: #FCFBFB;
}