// style.scss
.container {
  display: flex;
  justify-content: space-evenly;
  // font-family: ; to do
}

.container>*:first-child {
  position: absolute;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.title {
  width: 73px;
  height: 79px;
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  // line-height: 37px;
  // display: flex;
  // align-items: center;
  color: #000000;
  cursor: pointer;
}

.nav-button {
// width: 258px;
// height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
// line-height: 27px;
/* identical to box height */
color: #000000;
letter-spacing: 0.1px;
}