<table>
  <td>
    <p on
      class="title"
      routerLink="/homepage">artbox</p>
  </td>
  <td><button mat-button
      [ngClass]="'nav-button'"
      routerLink="/artystyczneoprawy"
      (click)="handleArtystyczneOprawy()  ">
      Artystyczne oprawy obrazów
    </button></td>
  <td><button mat-button
      [ngClass]="'nav-button'">Usługi pozłotnicze</button></td>
  <td><button mat-button
      [ngClass]="'nav-button'">Wernisaże</button></td>
  <td> <button mat-button
      [ngClass]="'nav-button'">Kontakt</button></td>
</table>