<table>
  <td>
    <p on class="title" routerLink="/homepage">artbox</p>
  </td>
  <td>
    <ul class="container">
      <button mat-button [ngClass]="'nav-button'" routerLink="/artystyczneoprawy"
        (click)="handleArtystyczneOprawy()  ">Artystyczne oprawy
        obrazów</button>
      <button mat-button [ngClass]="'nav-button'">Usługi pozłotnicze</button>
      <button mat-button [ngClass]="'nav-button'">Wernisaże</button>
      <button mat-button [ngClass]="'nav-kontakt-button'">Kontakt</button>
    </ul>
  </td>
</table>