/* main.component.css */
.container {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .subpage {
    display: inline-block;
    width: 100vw; /* Assuming each subpage should take the full viewport width */
    min-width: 100%; /* Ensures the subpage takes the full width */
  }
  