.toggle_sidenav_button {
    display: none;
    background-color: white;
    position: sitcky;
    top: 0;
    z-index: 100;
}

.toggle_sidenav_button.layout-portrait {
    display: flex;
    position: sitcky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.sidenav_drawer {
    display: none;
    height: 100%;
}

.sidenav_drawer.layout-portrait {
    display: inline;
}

.page {
    overflow: hidden;
    background-color: white;
}

.menu_icon {
    font-size: 1.8rem;
    height: 2.5rem;
    width: 2.5rem;
}

.title {
    font-family: 'Bodoni Moda';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  .app-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }