<app-navbar class="app-navbar"></app-navbar>
<mat-drawer-container *ngIf="currentLayout$ | async as currentLayout">
  <mat-drawer #drawer
    class="sidenav_drawer"
    mode="over"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
  'layout-medium': currentLayout == 'Medium',
  'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <mat-toolbar class="mat-toolbar">
      <mat-toolbar-row>
        <button mat-button
          class="mat-button">Artystyczne oprawy
          obrazów</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button
          class="mat-button">Usługi pozłotnicze</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button
          class="mat-button">Wernisaże</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button
          class="mat-button">Kontakt</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>
  <mat-toolbar-row class="sidenav_navbar"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
  'layout-medium': currentLayout == 'Medium',
  'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <button mat-button
      (click)="drawer.toggle()">
      <mat-icon style="
      font-size: 1.6rem; 
      height: 2.5rem;
      width: 2.5rem;
      padding-top: 1rem;">
        menu
      </mat-icon>
    </button>
    <span style="width: 25%;"></span>
    <p on
      class="title"
      routerLink="/homepage">
      artbox
    </p>
  </mat-toolbar-row>

  <div class="page"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
  'layout-medium': currentLayout == 'Medium',
  'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <router-outlet></router-outlet>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>