<table class="title-segment-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <tr>
        <td>
            <div class="title"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
                Artystyczne zlecenia i usługi. Tworzone z pasją.
            </div>
            <div>
                <button mat-button
                    class="first-button"
                    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                    'layout-medium': currentLayout == 'Medium',
                    'layout-landscape': currentLayout == 'HandsetLandscape'
                  }">Sprawdź naszą ofertę</button>
            </div>
            <div>
        <td>
            <img class="plotno"
                src="./assets/plotno.jpg"
                alt="plotno"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
              }">
        </td>
        <td>
            <img class="doggy"
                src="./assets/haft_doggy.jpg"
                alt="doggy"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
              }">
        </td>
        </div>
        </td>
        <td>
            <img class="abstract1"
                src="./assets/abstract1.png"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
        </td>
        <td>
            <img class="abstract2"
                src="./assets/abstract2.png"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
        </td>
    </tr>
</table>
<!-- First segment -->

<mat-divider class="matdivider-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
}"></mat-divider>

<table class="segment-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
        'layout-medium': currentLayout == 'Medium',
        'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <tr>
        <td><img class="pastel-style"
                src="./assets/pastel.jpg"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }"></td>
        <td>
            <table class="inner-segment-style"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
                <tr class="segment-heading">
                    Artystyczne oprawy obrazów
                </tr>
                <tr class="segment-body"
                    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
                }">
                    Obrazy olejne, grafiki, akwarele, pastele, hafty, zdjęcia, lustra i wiele innych.
                </tr>
                <tr>
                    <button mat-button
                        [ngClass]="'button'">Sprawdź więcej</button>
                </tr>
            </table>
        </td>
    </tr>
</table>

<mat-divider class="matdivider-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}"></mat-divider>

<table class="segment-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <tr>
        <td><img class="pozlacanie1-style"
                src="./assets/pozlacanie1.jpg"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}"></td>
        <td>
            <table class="inner-segment-style"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
                <tr class="segment-heading">
                    Usługi pozłotnicze
                </tr>
                <tr class="segment-body"
                    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
                }">
                    Pełen zakres usług - w tym naprawa starych złoceń na ramach, rzeźbach i meblach.
                </tr>
                <tr>
                    <button mat-button
                        [ngClass]="'button'">Sprawdź więcej</button>
                </tr>
            </table>
        </td>
    </tr>
</table>
<mat-divider class="matdivider-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}"></mat-divider>
<table class="segment-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}">
    <tr>
        <td><img class="fish-style"
                src="./assets/fish.jpg"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}"></td>
        <td>
            <table class="inner-segment-style"
                [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
            'layout-medium': currentLayout == 'Medium',
            'layout-landscape': currentLayout == 'HandsetLandscape'
          }">
                <tr class="segment-heading">
                    Wernisaże
                </tr>
                <tr class="segment-body"
                    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
                'layout-medium': currentLayout == 'Medium',
                'layout-landscape': currentLayout == 'HandsetLandscape'
                }">
                    Wystawy dla galerii i indywidualnych artystów.
                </tr>
                <tr>
                    <button mat-button
                        [ngClass]="'button'">Sprawdź więcej</button>
                </tr>
            </table>
        </td>
    </tr>
</table>
<mat-divider class="bottom-matdivider-style"
    [ngClass]="{'layout-portrait': currentLayout == 'HandsetPortrait',
'layout-medium': currentLayout == 'Medium',
'layout-landscape': currentLayout == 'HandsetLandscape'
}"></mat-divider>