.title-segment-style {
    margin: 0rem 0rem 0rem 14rem;
}

.title-segment-style.layout-medium {
    margin: 0rem 0rem 0rem 2rem;
}

.title-segment-style.layout-portrait {
    margin: 0rem 0rem 0rem 2rem;
}

.title-segment-style.layout-landscape {
    margin: 0rem 0rem 0rem 2rem;
}


.abstract1 {
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    margin-right: -20%;
    float: right;
    filter: brightness(250%);
}

.abstract1.layout-medium {
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    float: right;
    filter: brightness(250%);
}

.abstract1.layout-landscape {
    display: none;
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    float: right;
    filter: brightness(250%);
}

.abstract1.layout-portrait {
    display: none;
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    float: right;
    filter: brightness(250%);
}

.abstract2 {
    filter: brightness(250%);
    width: 40.5em;
    height: 54rem;
    opacity: 40%;
    float: right;
}

.abstract2.layout-medium {
    display: none;
    filter: brightness(250%);
    width: 40.5em;
    height: 54rem;
    opacity: 40%;
    float: right;
}

.abstract2.layout-landscape {
    display: none;
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    float: right;
    filter: brightness(250%);
}

.abstract2.layout-portrait {
    display: none;
    width: 40.5rem;
    height: 54rem;
    opacity: 40%;
    float: right;
    filter: brightness(250%);
}

.matdivider-style {
    margin: 2rem 14rem 2rem 14rem;
}

.matdivider-style.layout-medium {
    margin: 2rem 4em 2rem 4rem;
}

.matdivider-style.layout-portrait {
    margin: 2rem 2em 2rem 2rem;
}

.matdivider-style.layout-landscape {
    margin: 2rem 2em 2rem 2rem;
}

.bottom-matdivider-style {
    margin: 2rem 14rem 0rem 14rem;
}

.bottom-matdivider-style.layout-medium {
    margin: 2rem 4em 0rem 4rem;
}

.bottom-matdivider-style.layout-portrait {
    margin: 2rem 2em 0rem 2rem;
}

.bottom-matdivider-style.layout-landscape {
    margin: 2rem 2em 0rem 2rem;
}

.segment-style {
    height: 20rem;
    margin: 0rem 8rem 0rem 6rem;
}

.segment-style.layout-medium {
    height: 20rem;
    margin: 0rem 2rem 0rem 2rem;
}

.segment-style.layout-portrait {
    height: 20rem;
    margin: 0rem 0rem 0rem 0rem;
}

.segment-style.layout-landscape {
    height: 20rem;
    margin: 0rem 2rem 0rem 2rem;
}


.inner-segment-style {
    height: 15rem;
    margin: 0rem 6rem 0rem 6rem;
}

.inner-segment-style.layout-medium {
    height: 15rem;
    margin: 0rem 3rem 0rem 3rem;
}

.inner-segment-style.layout-portrait {
    height: 15rem;
    margin: 2rem 3rem 0rem 2rem;
}

.inner-segment-style.layout-landscape {
    height: 15rem;
    margin: 0rem 2rem 0rem 2rem;
    background-color: aqua;
}

.plotno {
    position: relative;
    z-index: 1;
    width: 14rem;
    height: 16rem;
    transform: rotate(-10deg);
    opacity: 70%;
}

.plotno.layout-portrait {
    position: relative;
    z-index: 1;
    width: 10.5rem;
    height: 12rem;
    padding-left: 2rem;
    transform: rotate(-10deg);
    opacity: 70%;
}

.doggy {
    position: relative;
    width: 14rem;
    height: 16rem;
    margin-left: -4rem;
    transform: rotate(10deg);
    opacity: 70%;
}

.doggy.layout-portrait {
    position: relative;
    width: 10.5rem;
    height: 12rem;
    margin-left: -3rem;
    transform: rotate(10deg);
    opacity: 70%;
}

.title {
    width: 30rem;
    float: right;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}

.title.layout-portrait {
    width: 22rem;
    float: none;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.title.layout-medium {
    width: 30rem;
    float: right;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}

.title.layout-landscape {
    width: 30rem;
    float: right;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}

.button {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 0.2px;
    width: 15.84rem;
    height: 3.52rem;
    background-color: #FFEEA1;
}

.first-button {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: 0.2px;
    width: 18rem;
    height: 4rem;
    background-color: #FFEEA1;
    margin: 2rem 0rem 10rem 0rem;
}

.first-button.layout-portrait {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: 0.2px;
    width: 18rem;
    height: 4rem;
    background-color: #FFEEA1;
    margin: 2rem 0rem 5rem 2rem;
}

.first-button.layout-landscape {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: 0.2px;
    width: 18rem;
    height: 4rem;
    background-color: #FFEEA1;
    margin: 2rem 0rem 5rem 2rem;
}

.pastel-style {
    width: 16rem;
    height: 22rem;
    margin: 0rem 6rem 0rem 8rem;
}

.pastel-style.layout-medium {
    width: 16rem;
    height: 22rem;
    margin: 0rem 4rem 0rem 6rem;
}

.pastel-style.layout-portrait {
    display: none;
    width: 16rem;
    height: 22rem;
    margin: 0rem 0rem 0rem 0rem;
}

.pastel-style.layout-landscape {
    width: 16rem;
    height: 22rem;
    margin: 0rem 0rem 0rem 0rem;
}

.pozlacanie1-style {
    border-radius: 50%;
    height: 22rem;
    width: 20rem;
    margin: 0rem 2rem 0rem 8rem;
}

.pozlacanie1-style.layout-medium {
    margin: 0rem 4rem 0rem 6rem;

}

.pozlacanie1-style.layout-landscape {
    margin: 0rem 0rem 0rem 0rem;
    height: 19rem;
    width: 17.1rem;

}

.pozlacanie1-style.layout-portrait {
    display: none;
}

.segment-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;

}

.segment-body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: initial;
    color: #000000;
    line-height: 48px;
}

.fish-style {
    height: 20rem;
    width: 20rem;
    margin: 0rem 2rem 0rem 8rem;
}

.fish-style.layout-medium {
    margin: 0rem 4rem 0rem 6rem;
}

.fish-style.layout-landscape {
    margin: 0rem 0rem 0rem 0rem;
    height: 17rem;
    width: 17rem;
}

.fish-style.layout-portrait {
    display: none;
}