    <app-navbar></app-navbar>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Artystyczne zlecenia i usługi. Tworzone z pasją.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="250"
            alt="Photo of a Shiba Inu">
        <button mat-button> Zobacz naszą ofertę</button>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle> Artystyczne oprawy obrazów </mat-card-subtitle>
            <mat-card-title>Obrazy olejne, grafiki, akwarele, pastele, hafty, zdjęcia, lustra i wiele innych.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="250"
            alt="Photo of a Shiba Inu">
        <button mat-button>Sprawdź więcej</button>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle> Usługi pozłotnicze </mat-card-subtitle>
            <mat-card-title>Pełen zakres usług - w tym naprawa starych złoceń na ramach, rzeźbach i meblach.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="250"
            alt="Photo of a Shiba Inu">
        <button mat-button>Sprawdź więcej</button>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Wernisaże </mat-card-subtitle>
            <mat-card-title>Wystawy dla galerii i indywidualnych artystów.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="250"
            alt="Photo of a Shiba Inu">
        <button mat-button>Sprawdź więcej</button>
    </mat-card>
    <footer>FOOTER</footer>